.tweet-timeline {
  md-content {
    margin: 0 auto;
    md-card-content {
      h2 {
        float: left;
      }
      img {
        float: right;
      }
      p {
        clear: both;
      }
    }

  }
  // max-width: 550px;
  // display: inline-block;
}
.twitter-btn {
  width: 11%;
  margin: 10px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}