<button ng-click="getTweets()">Get Tweets yo</button>
<!-- <div ng-repeat="tweet in tweets">{{ tweet.id }}</div> -->
<!-- <div ng-bind-html="tweets.html"></div> -->

<!-- sanitized HTML binding -->
  <div ng-bind-html="tweets.html"></div>

  <!-- binding to Tweet source property -->
  <div class="tweet-details">
    Source: <span ng-bind-html="tweets.source"></span>

    <!-- play around with rendering different Tweet properties -->
    <!-- <p>{{tweet.user.screen_name}}</p> -->
    <!-- <p>{{tweet.text}}</p> -->
  </div>