<!-- <button ng-click="getTweets()">Get Tweets yo</button> -->
<!-- <div ng-repeat="tweet in tweets">{{ tweet.id }}</div> -->
<!-- <div ng-bind-html="tweets.html"></div> -->

<!-- sanitized HTML binding -->
<!-- binding to Tweet source property -->
<!-- <div ng-repeat="tweet in tweets">{{tweet.text}}</div> -->
  <!-- binding to Tweet source property -->
 
    <!-- play around with rendering different Tweet properties -->
    <!-- <p>{{tweet.user.screen_name}}</p> -->
    <!-- <p>{{tweet.text}}</p> -->

    <section id="home">
    <fullstack-logo></fullstack-logo>
    
</section>